# Node modules
node_modules/

# Dependencies
package-lock.json
yarn.lock

# Environment
.env
.env.local

# Build output
lib/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebaserc
firebase-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Testing
coverage/
.nyc_output/

# Emulator
ui-debug.log
